body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

/*Раздел Header и Navbar*/
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 50px;
    text-decoration: none;
    color: white;
    font-size: 36px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}

header ul li {
    margin: 0 10px;
    font-size: 36px;
}

nav {
    width: 500px;
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}


/*Раздел кнопок*/

h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #333;
}

.content {
    text-align: center;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid gray;
    background-color: white;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
}

.button:nth-child(1) {
    background-image: url("../img/SUAI.png");
}

.button:nth-child(2) {
    background-image: url("../img/coffee.png");
}

.button:nth-child(3) {
    background-image: url("../img/pocker.jpg");
}

.button:nth-child(4) {
    background-image: url("../img/plus.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
}

.labels {
    display: flex;
    align-items: flex-start;
}

span {
    width: 100px;
    margin: 10px;
    font-size: 24px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: right;
}

footer span {
    margin-right: 60px;
    width: 200px;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}